<h2>The Burgers you HAVE crushed!</h2>
<br>
<ul style="list-style: none;">
  {{#each burgers}}
    {{#if this.crushed}}
      <li>
        <br>
        {{this.burger_name}}
        <br>
        <hr>
      </li>
    {{/if}}
  {{/each}}
</ul>